body {
    background-color: #f3ca20;
}

div {
    flex-grow: 4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: large;
}

.center {
    text-align: center;
}

.tank {
    color: black;
}

.killer {
    color: red;
}

.bruiser {
    color: blue;
}

.healer {
    color: green;
}

.avatar {
    position: absolute;
    height: 40px;
    width: 40px;
}