@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #f3ca20;
}

h1 {
    text-align: center;
}

div, span {
    margin: 5px auto;
}

#first-div {
    background-color: #7fd1de;
}

#second-div {
    background-color: #b4bbe8;
}

#first-span {
    background-color: #ffbcac;
}

#second-span {
    background-color: #7fded2;
}

#kt-image {
    position: relative;
    top: 6px;
    left: 40px;
}

#arthas-image {
    position: absolute;
    /*position: fixed;*/
    top: 430px;
    left: 1150px;
}

#float-div {
    float: left;
    background: #b4bbe8;
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    width: 40%;
}

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.links-block > a {
    font-size: x-large;
    padding: 10px;
}

a:link {
    color: cyan;
}

a:visited {
    color: seagreen;
}

a:active {
    color: gray;
}

a:hover {
    transition: 1s ease;
    color: red;
}

p:first-child {
    color: green;
}

p::first-line {
    text-transform: lowercase;
}

p::first-letter {
    color: red;
    font-style: italic;
    font-size: 150%;
    border: black solid 1px;
    padding: 2px;
    margin: 2px;
}

span::before {
    content: "♥";
}

span::after {
    content: "♥";
}
