@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #f3ca20;
}

h1 {
    text-align: center;
}

div, span {
    margin: 5px auto;
}

#first-div {
    background-color: #7fd1de;
}

#second-div {
    background-color: #b4bbe8;
}

#first-span {
    background-color: #ffbcac;
}

#second-span {
    background-color: #7fded2;
}

#kt-image {
    position: relative;
    top: 40px;
    left: 40px;
}

#arthas-image {
    position: absolute;
    /*position: fixed;*/
    top: 520px;
    left: 40px;
}

#float-div {
    float: left;
    background: #b4bbe8;
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    width: 40%;
}

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

a:link {
    color: cyan;
}

a:visited {
    color: seagreen;
}

a:active {
    color: firebrick;
}
