.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
    background: #f3ca20;
}