.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.white-cells {
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
    background: #f3ca20;
}

a:link {
    color: cyan;
}

a:visited {
    color: seagreen;
}

a:active {
    color: firebrick;
}

div {
    text-align: center;
}

iframe {
    height: 500px;
    width: 500px;
    margin: 50px;
    border: 1px solid gray;
}

.first-table {
    margin: 0 auto;
    border: 5px solid black;
    vertical-align: center;
    background-color: white;
}

.second-table {
    margin: 0 0 auto auto !important;
    background-color: #e2b716 !important;
    border: 0 !important;
    color: white;
    border-spacing: 15px;
}

.second-table td, th {
    padding: 10px;
}

.second-table caption {
    color: black;
}

.second-table col {
    background-color: peru;
}

.links {
    text-align: left !important;
    margin-top: 1000px;
}

#tbody {
    background-color: antiquewhite !important;
}

#tbody td {
    width: 33%;
    height: 33%;
}

#tbody td>img {
    display: block;
    width: 100%;
    height: 100%;
}

#tfoot {
    background-color: coral !important;
}

#big-images {
    width: 200%;
    height: 200%;
}

#small-images {
    width: 50%;
    height: 50%;
}

#special-text {
    font-family: Arial sans-serif;
    font-size: 2em;
    color: red;
}
